/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  color-scheme: light;
  --global-bg-color: #f7f7f2;
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #20332f;
  --global-text-color-light: #596c64;
  --global-theme-color: #17655b;
  --global-hover-color: #104d45;
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: #d6dfd8;
  --global-card-bg-color: #fffefa;
  --global-surface-color: #eaf0e9;

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #14211e;
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #e5eee8;
  --global-text-color-light: #b0bfb7;
  --global-theme-color: #8bcebf;
  --global-hover-color: #b1e8db;
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #354b42;
  --global-card-bg-color: #1c2d27;
  --global-surface-color: #263c32;

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
